#classificationWrapper {
    font-size: 12px;
    line-height: 1.1;
}

/*Images Section*/

#images {
    padding-top: 25px;
    overflow: hidden;
    background-color: #DDDDDD;
}

.imageColumn {
    width: 43%;
    position: relative;
    /*overflow: hidden;*/
    float: left;
}

#images>div:nth-of-type(2) {
    width: 14%;
    padding-bottom: 5px;
}

/*Images Pictures*/

.imageColumnContent {
    position: relative;
    clear:both;
    padding: 5px;
    margin: auto;
}

#preImage, #postImage {
    display:block;
    margin:auto;
    box-shadow: #666666 5px 5px 5px;
}

.zoomLoadingIndicator {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.imageColumnTitle {
    padding: 5px 10px 10px;
}

.imageColumnTitle p:first-child {
    font-size: 1.2em;
    line-height: 1.2;
}

#mapInsert {
    width: 98%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #666666;
}

/*Annotation Section*/

#annotationWrapper {
    min-height: 343px;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid grey;
    position: relative;
    background-color: #C7DBCC;
}


/*Pre-image navigation*/
#preNavigationCenteringWrapper {
    position: absolute;
    top: 90px;
    width: 100%;
}

#preNavigationWrapper {
    margin: 0 auto;
    width: 700px;
    overflow: hidden;
}

.navThumbnailWrapper {
    float: left;
    width: 19%;
}

.currentThumbnailWrapper {
    width: 24%;
}

.navThumbnailWrapper img {
    height: auto;
    max-width: 90%;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
}

.navThumbnailWrapper img:hover {
    border: 3px solid #5384ed;
    padding: 0px;
}

#computerMatch {
    padding: 0;
    border: 3px solid #e56969;
}


/*Tasks*/
.task {
    display: none;
}

.task h1 {
    display: none;
    padding: 5px 10px 0px 30px;
    text-align: left;
    margin: 0;
    font-size: 1.5em;
}

/* Task Text is currently removed from functionality. Possible removal of this CSS.
.taskText {
    text-align: left;
}*/

.annotationForm {
    padding-bottom: 44px;
}

.groupWrapper {
    display: inline-block;
}

.groupWrapper h2, .groupWrapper h3 {
    font-size: 1.2em;
    margin: 5px 5px 0px;
}

.annotationGroup, .annotationGroupGroup, .annotationSubgroup {
    margin: 5px;
    float: left;
    border-radius: 5px;
}

.annotationSubgroup {
    margin: 0 10px;
}

.tagInstruction {
    font-weight: normal;
}


/*Tags*/

.tagColumn {
    display: inline-block;
    vertical-align: top;
    min-width: 112px;
}

.tag {
    background: #FFFFFF;
    display: table;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-size:0.91em;
    box-shadow: 3px 3px 3px #222222;
}

.tag:hover {
    border-width: 2px;
    padding: 4px;
    box-shadow: 6px 6px 6px #222222;
}

input[type="checkbox"]:checked + .tag, input[type="radio"]:checked + .tag {
    background: #e56969;
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #ffa3a3 70%, #e56969 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(70%,#ffa3a3), color-stop(100%,#e56969));
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -ms-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: radial-gradient(ellipse at center, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    border-width: 3px;
    padding: 3px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

.tagText {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /*Stop selection of text in button*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tagToolTip img {
    max-width: 100%;
    width: 100%;
    margin: 0 0 5px 0;
}

#annotationControls {
    position: absolute;
    bottom: 5px;
    width:90%;
    margin: 0 5%;
}

#annotationControls input:first-of-type {
    float:left;
}

#annotationControls input:last-of-type {
    float:right;
}

#progressTrackerCenteringWrapper {
    position: absolute;
    bottom: 5px;
    left: 50%;
}

#progressTrackerItemWrapper {
    margin: 4px 0 4px -50%;
    height: 30px;
}

.progressTrackerItem {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height:10px;
    margin: 0 6px;
    border: 2px solid black;
    border-radius: 14px;
    background: black;
    text-align: center;
}

.progressTrackerItem p {
    display: none;
    line-height: 26px;
}

.currentProgressTrackerItem {
    width: 26px;
    height:26px;
    margin: 0 5px;
    background: #e56969;
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #ffa3a3 70%, #e56969 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(70%,#ffa3a3), color-stop(100%,#e56969));
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -ms-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: radial-gradient(ellipse at center, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
}