#usgsColorBand {
  z-index: 100;
  position: absolute;
  top: -47px;
  width: 100%;
  overflow: hidden;
  background-color: #040535;
}

#headerImageWrapper {
  position: absolute;
  left: 252px;
}

#usgsIdentifier {
  width: 252px;
}

#usgsIdentifier a {
  display: none;
  opacity: 0;
}

#appTitle {
  margin-left: 15px;
  font-size: 25px;
  line-height: 25px;
  left: 0px;
  top: 47px;
}

#appSubtitle {
  left: 97px;
  top: 56px;
  line-height: 14px;
}

#mainHeaderNavigation li {
  opacity: 0;
}