#usgsColorBand {
    height: 72px;
    /*vertical-align: bottom;*/
}

#usgsColorBand img {
    display: block;
    max-width: none;
    border-radius: 0;
}

#usgsIdentifier {
  background-color: black;
  height: 100%;
  float:left;
  text-align: left;
}

#usgsIdentifier p {
  font-family: arial;
  position: absolute;
  color: #FFFFFF;
  display: inline-block;
}

#appSubtitle {
  font-style: italic;
  font-size: 14px;
}
