/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*All Pages*/

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    min-height: 600px;

    /*font-family: 'Noto Sans', 'Cabin', sans-serif;*/
    /*font-weight: bold;*/
    /*background: #040535;*/
}

/*Remove halo effect from some form elements in webkit browsers*/
*:focus { outline: none; }

h1 {
    font-size: 2em;
    margin: 25px 10px 10px 10px;
    font-weight: bold;
}

h2, h3{
    font-size: 1.3em;
    margin: 25px 10px 10px 10px;
    font-weight: bold;
}

img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: #5384ED;
    text-decoration: none;
}

a:hover {
    color: #284D68;
}

#navigationBar {
    height: 30px;
    background-color: #666666;
    border-bottom: solid 1px white;
    color: white;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
}

#navigationBar p {
    font-size: 17px;
    float: right;
    padding-right: 5px;

}

#navigationBar ul {
    font-size: 0px;
    display: inline-block;
    /*    display: block;*/

}

#navigationBar li:first-of-type {
    /*    padding: 8px 15px 8px 0px;*/
    padding: 0 15px 0 5px;
}

#navigationBar li:last-of-type {
    border-right: none;
}

#navigationBar li {
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid white;
    /*padding: 8px 15px;*/
    /*    border-radius: 5px;*/
}

.activePageLink {
    background-color: #284D68;
    /*color: #45a1c8;*/
    color: #FFFFFF;
}

#navigationBar a {
    text-decoration: none;
    color: white;
}

.accountControlLink a {
    /*border-bottom: solid #E56969 2px;*/
    color: #E56969;
}

#adminPanelLink {
    background-color: #E56969;
    width: 150px;
    text-align: center;
}

#adminPanelLink a {
    color: black;
}

#navigationBar a:hover {
    color: #D3E2F0;
}

#navigationBar p {
    line-height: 30px;

}

.clickableButton {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;

    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 10px;

    background: #FFFFFF;
    font: inherit;
    line-height: 20px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
}

.clickableButton:hover, .clickableButton:active {
    margin: 7px;
    border: 2px solid black;
    box-shadow: 6px 6px 6px #888888;
}

.italic {
    font-style: italic;
}

/*input[type="radio"]:checked + .clickableButton {
    background: #e56969;
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: radial-gradient(ellipse at center, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
}*/

.disabledClickableButton {
    background: #BBBBBB;
    opacity: 0.5;
}

.disabledClickableButton:hover,
.disabledClickableButton:active {
    margin: 8px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #888888;
}

option {
    padding-left: 10px;
}

.feedbackPanel p {
    margin: 5px;
}

#usgsfootertext {
    text-align: left;
}

/*Fix FF Button Padding
http://christophzillgens.com/en/articles/equal-height-input-and-button-elements-in-firefox-and-safari*/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*Google Maps*/

/*Fix for Google Maps Zoom Control Display Bug*/
#mapCanvas img, #mapInsert img {
    border-radius: 0;
    max-width: none;
    display: inline;
}

/*Google Maps Search Box Styling*/
.controls {
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*Google Maps Search Box Styling*/
#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 50%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

/*Google Maps Search Box Styling*/
#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    /*width: 401px;*/
}
/*Google Maps Search Results Styling*/
.pac-container {
    font-family: Roboto;
    z-index: 10000;
}
/*Google Maps Styling*/
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
/*Google Maps Styling*/
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
/*Google Maps Styling*/
#target {
    width: 345px;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*All Pages except About and Classification*/

#contentWrapper {
    font-family: Arial,Helvetica,Vardana,sans-serif;
    width: 1193px;
    margin: auto;
    background-color: #D3E2F0;
    font-size: 18px;
    padding: 1px 20px 10px 20px;
    overflow: hidden;
    text-align: center;
}

#contentWrapper p {
    margin: 10px 20px;
    line-height: 1.2;
}
#contentWrapper th, #contentWrapper td  {
    font: inherit;
}

.statisticsTable td:first-of-type {
    text-align: right;
    font-weight:bold !important;
}


.footer {
    text-align: left;
    font-size: 0.8em;
    margin: 10px 0 !important;
}

#profileSettingsWrapper {
    position: relative;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
}

#profileAnnotationListControls {
    position: relative;
    padding-bottom: 15px;
}

#userAnnotationHistory {
    overflow: hidden;
    position: relative;
    display: none;
    border-top: 2px solid grey;
    padding-bottom: 15px;
}
#profileTableWrapper {
    width: 60%;
    float: left;
    padding-left: 10px;
}

#historyTableWrapper {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid black;
}

#historyTableWrapper th {
    font-weight: bold;
    text-align: center;
}

.profileUpdateField label {
    font-weight: bold;
}

#profileMapWrapper {
    width: 420px;
    float: left;
    padding-right: 10px;
}

#profileMapWrapper #mapCanvas {
    height: 600px;
    width: 420px;
}

#historyTableWrapper td:first-of-type {
    /*background-color: white;*/
    vertical-align: middle;

}

#historyTableWrapper td .clickableButton {
    margin: 1px;
    text-align: center;
}

#historyTableWrapper td .clickableButton:hover {
    margin: 0px;
}

.incompleteAnnotation {
    color: red !important;
    border-color: red;
}

.incompleteAnnotation:hover {
    border-color: red;
}

#historyTableWrapper a {
    color: black;
}

#historyHideButton {
    top: 7px
}

.hideProfilePanelButton {
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: inherit;
    font-size: 0.8em;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 1px 1px;
}

#profileSettingsWrapper .formFieldRow label {
    width: 50%;
}

#profileSettingsWrapper input {
    width: 250px;
}

.hideProfilePanelButton:hover {
    margin: 0;
}

.profileUpdateForm {
    display: none;
}

.highlightedText {
    color: #E56969;
}

#profileMapWrapper #pac-input {
    width: 50%
}
table {
    margin: 10px auto 10px;;
    text-align: left;
}




/*#profileTableWrapper div:first-of-type {
    min-height: 405px;
}*/

th, td {
    padding: 3px 10px 5px 10px;
}

#profileTableWrapper tr {
    border-bottom: 1px solid black;
}

#profileTableWrapper tbody tr:last-of-type {
    border-bottom: none;
}

.userData {
    font-weight: normal;
    color:#0602EA;
}

.formFieldRow {
    overflow: hidden;
}

.formFieldRow label,
.formFieldRow input,
.formFieldRow select {
    float:left;
}

.formFieldRow label {
    width: 40%;
    margin-right: 5px;
    line-height: 50px;
    text-align: right;
}

.formFieldRow label.multiline {
    line-height: 25px;
}

#registerTimeZone,
#registerCrowdType,
#registerOther,
#registerAffiliation {
    width: 280px;
}

.standAloneFormElement select,
.standAloneFormElement input {
    float: none;
}

label.error {
    line-height: 22px;
    text-align: center;
    color: red;
    font-size: 0.8em;
    width: 100% !important;
}

.singleNavButtonWrapper {
    width: 266px;
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 20px 10px 0;
    float: left;
}

.singleNavButtonWrapper p {
    height: 58px;
}

.singleNavButtonWrapper .clickableButton {
    margin: 4px 8px;
    padding: 8px;
}

.singleNavButtonWrapper .clickableButton:hover,
.singleNavButtonWrapper .clickableButton:active {
    margin: 1px 5px;
    border: 4px solid black;
}

.singleNavButtonWrapper .disabledClickableButton:hover,
.singleNavButtonWrapper .disabledClickableButton:active {
    margin: 4px 8px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #888888;
}

#navOptionDivider {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#navOptionDivider p {
    font-size: 1.2em;
    font-weight: bold;
}

#stackedNavButtonsCenteringWrapper {

}

#stackedNavButtons {
    float: left;
    display: inline-block;
    margin: 0 20px 10px;
    width: 330px;
}

#stackedNavButtons>p {
    font-size: 1.2em;
    font-weight: bold;
    height: 62px;
}

.stackedNavButtonWrapper,
.stackedNavSelectWrapper {
    border-top: 1px solid black;
    height: 94px;
}

.stackedNavSelectWrapper:last-of-type {
    border-bottom: 1px solid black;
}

.stackedNavButtonWrapper label {
    float: left;
    width: 218px;
    margin: 36px 0 0 0 !important;
    text-align: left;
}

.stackedNavButtonWrapper button {
    float: right;
}

.stackedNavSelectWrapper p {
    margin: 15px 0 0 0 !important;
    text-align: left;
}

.stackedNavSelectWrapper label {
    display: block;
    margin: 10px 0 5px 0 !important;
}

.stackedNavSelectWrapper select {
    width: 292px;
}

#traverseCoastControls {
    position: relative;
}

#traverseCoastControls p {
    float: left;
    margin: 36px 0 0 0 !important;
    text-align: left;
    width: 155px;
}


#annotationDetails {
    overflow: hidden;
}

#annotationDetails img {
    float: left;
    margin: 0 20px 10px 28px;;
    box-shadow: 5px 5px 5px #666666;
}

#annotationDetails table {
    float: left;
    margin: 50px 20px 0 20px;
    max-width: 670px;
}

.leftCoastalNavButton {
    margin-right: 24px;
}

.leftCoastalNavButton:hover,
.leftCoastalNavButton:active {
    margin-right: 23px;
}

.leftCoastalNavButton.disabledClickableButton:hover,
.leftCoastalNavButton.disabledClickableButton:active {
    margin-right: 24px;
    box-shadow: 3px 3px 3px #888888;
}

#coastalNavigationImage {
    position: absolute;
    border: 1px solid black;
    bottom: 21px;
    right: 47px;
}

/*Map*/

#mapWrapper {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 625px;
    min-width: 1193px;
    z-index: 9999;
    background: rgba(0, 0, 0, .6);
    font-size: 12px;
}

#mapWrapper h1 {
    margin: 15px 10px;
    font-size: 1.5em;
}

#mapContent p {
    margin: 5px 0px;
}

#leftMapColumn p {
    font-weight: bold;
}

#mapContent {
    position: absolute;
    top: 10%;
    left: 10%;
    width:80%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;
}

#mapHide {

    position: relative;
    top: -5px;
    line-height: inherit;
    background: #e56969;
    font-size: 1em;
    float: right;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
    margin: 1px;
}

#mapHide:hover, #mapHide:active {
    margin: 0px;
}

.mapColumn {
    overflow: hidden;
    margin: 0 15px;
}

#leftMapColumn {
    width: 36%;
    float: left;
}

#selectedMapImage {
    display:none;
}

#selectedMapImage img {
    margin-bottom: 5px;
}

#selectedMapImageHeader {
    height: 45px;
    position: relative;
}

#selectedMapImageHeader p {
    position: absolute;
    bottom: 0px;
    width: 100%
}

#mapRandomButtonControlWrapper div {
    width: 49%;
    float: left;
}

#mapRandomButtonControlWrapper label {
    margin: 30px 5px 0 5px;
    font-weight: bold;
    display: block;
    height: 30px;
}

#rightMapColumn {
    position: relative;
    float: right;
}

#mapCanvas {
    margin-bottom: 5px;
    border-radius: 5px;
}

#mapLoadingBar {
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: none;
    bottom: 85px;
    left: 8px;
}

#mapLegend {
    position: absolute;
    bottom: 85px;
    right: 8px;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
}
.mapLegendRow {
    overflow: hidden;
    padding: 3px 2px 3px 2px;
}
.mapLegendRowIcon {
    float: left;
    width: 25px;
    padding-right: 5px;
}
.mapLegendRowText {
    float: left;
    width: 165px;
    text-align: left;
    line-height: 14px;
}

#alertBoxWrapper {
    display:table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 625px;
    min-width: 1193px;
    z-index: 9999;
    background: rgba(0, 0, 0, .6);
    font-size: 16px;
}

#alertBoxCenteringWrapper {
    display: table-cell;
    vertical-align: middle;

}

#alertBox {
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    padding: 25px 25px 25px 25px;
}

#alertBox #alertBoxTitle {
    margin: 0 0 20px 0;
}

#alertBoxControls {
    margin-top: 12px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Home Page*/
#indexImageColumn {
    /*    background-color: #666666;
        color: white;*/
    background-color: #DDDDDD;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 670px;
    height: 480px;
    float: left;
    border-radius: 5px;
    /*border: 1px solid black;*/
    text-align: left;
    box-shadow: 3px 3px 3px #666666;
}

#indexImageWrapper {
    position: relative;
    overflow: hidden;
    height: 435px;
}

#indexImageWrapper img {
    position: absolute;
    border-radius: 5px 5px 0 0;
    float:left;
}

#indexImageWrapper img:first-of-type {
    top: 0;
    left: 0;
}

#indexImageWrapper img:last-of-type {
    top: 0;
    left: 670px;
}

#imageCaptionWrapper {
    height: 45px;
    font-size: 0.85em;
}

#imageCaptionWrapper p {
    margin: 5px;
}

.captionTitle {
    font-weight: bold;
}

#indexTextColumn {
    margin-left: 700px;
    height: 450px;
    text-align: left;
    margin-bottom: 20px;
}

#indexTextColumn h1 {
    text-align: center;
}

#indexTextColumn p {
    margin: 10px;
}

#indexTextColumn form {
    text-align: center;
}

.loginError {
    color: red;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Welcome Pages*/
#welcomeImageColumn {
    /*    background-color: #666666;
        color: white;*/
    background-color: #DDDDDD;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 550px;
    height: 402px;
    float: left;
    border-radius: 5px;
    /*border: 1px solid black;*/
    text-align: left;
    box-shadow: 3px 3px 3px #666666;
}

#welcomeImageWrapper {
    position: relative;
    overflow: hidden;
    height: 357px;
}

#welcomeImageWrapper img {
    position: absolute;
    border-radius: 5px 5px 0 0;
    float:left;
}

#welcomeImageWrapper img:first-of-type {
    top: 0;
    left: 0;
}


#welcomeImageCaptionWrapper {
    height: 45px;
    font-size: 0.85em;
}

#welcomeImageCaptionWrapper p {
    margin: 5px;
}

#welcomeTextColumn {
    margin-left: 580px;
    text-align: left;
    margin-bottom: 20px;
}

#welcomeTextColumn h1,
#welcomeTextColumn h2 {
    text-align: center;
}

#welcomeTextColumn p {
    text-align: center;
    margin: 10px;
}

#welcomeTextColumn form {
    text-align: center;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Start & Complete Pages*/

#randomPostImagePreviewWrapper {
    float: left;
    width: 400px;
    margin-left: 20px;
}

#randomPostImagePreviewWrapper p {
    height: 62px;
}

#randomPostImagePreviewWrapper img {
    box-shadow: 5px 5px 5px #666666;
    margin: auto;
}

#randomPostImageControls {
    margin-left: 440px;
    overflow: hidden;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*About Page*/

#aboutWrapper, #helpWrapper {
    overflow: hidden;
    text-align: left;
}

#aboutWrapper p, #helpWrapper p {
    font-weight: normal;
    font-size: 16px
}

#aboutWrapper>p {
    width: 750px;
}
.aboutAttributions {
    width: auto !important;
}

.aboutShortParagraph {
    min-height: 227px;
}


#aboutWrapper>img {
    float: right;
    margin: 0 20px;
    box-shadow: 3px 3px 3px #666666;
}

#aboutWrapper h2, #helpWrapper h2 {
    margin-top: 20px;
    clear: both;

}

.teamColumn {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.teamColumn>div {
    overflow: hidden;
}

.teamPosition{
    font-weight: bold
}

.teamColumn img {
    box-shadow: 3px 3px 3px #666666;
    float: left;
    margin: 10px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Help Page*/

#helpWrapper h3 {
    clear: both;
    font-size: 1em;
}

#faqs .faq {
    clear: both;
    overflow: hidden;
}

#faqs .faqQuestion {
    overflow: hidden;
}

#faqs .faqQuestion p:last-of-type {
    float: left;
    margin-left: 0px;
    font-weight: bold;
}

#faqs .faqQuestion p:first-of-type {
    /*Stop selection of text in button*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: bold;
    float: left;
    position: relative;
    top: 2px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    display: block;
    border: 1px solid black;
    text-align: center;
    /*margin-left: 10px;*/
}

#faqs .faqAnswer {
    display: none;
    clear: both;
}

#faqs .faqAnswer p {
    margin-left: 57px;
    margin-top: 0px;
}





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Classification Page*/

#classificationWrapper {
    font-family: Arial,Helvetica,Vardana,sans-serif;
    min-width: 1233px;
    max-width: 1920px;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
    margin: auto;
}

/*Images Section*/

#images {
    /*padding-top: 25px;*/
    overflow: hidden;
    background-color: #DDDDDD;
}

.imageColumn {
    width: 43%;
    position: relative;
    float: left;
}

#images>div:nth-of-type(2) {
    width: 14%;
}

/*Images Div Pictures*/

.imageColumnContent {
    position: relative;
    clear:both;
    padding: 5px 5px 10px 5px;
    margin: auto;
}

#preImage, #postImage {
    display:block;
    margin:auto;
    box-shadow: #666666 5px 5px 5px;
}

.zoomLoadingIndicator {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.imageColumnTitle {
    padding: 5px;
    font-weight: bold;
}

.imageColumnTitle p:first-child {
    font-size: 1.2em;
    line-height: 1.2;
}

#mapInsert {
    width: 98%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #666666;
}

/*Annotation Section*/

#annotationWrapper {
    min-height: 343px;
    border-radius: 0 0 5px 5px;
    border-top: 4px solid #666666;
    position: relative;
    background-color: #D3E2F0;
}


/*Pre-image navigation*/
#preNavigationCenteringWrapper {
    position: absolute;
    top: 90px;
    width: 100%;
}

#preNavigationWrapper {
    margin: 0 auto;
    width: 700px;
    overflow: hidden;
}

#preNavigationWrapper p {
    font-weight: bold;
}

.navThumbnailWrapper {
    float: left;
    width: 19%;
}

.currentThumbnailWrapper {
    width: 24%;
}

.navThumbnailWrapper img {
    height: auto;
    max-width: 90%;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
}

.navThumbnailWrapper img:hover {
    border: 3px solid #5384ed;
    padding: 0px;
}

#computerMatch {
    padding: 0;
    border: 3px solid #e56969;
}


/*Tasks*/
.task {
    display: none;
}

.task h1 {
    display: none;
    padding: 5px 10px 0px 30px;
    margin: 0;
    font-size: 1.5em;
}

/* Task Text is currently removed from functionality. Possible removal of this CSS.
.taskText {
    text-align: left;
}*/

.annotationForm {
    padding-bottom: 44px;
}

.groupWrapper {
    display: inline-block;
}

.groupWrapper h2, .groupWrapper h3 {
    font-size: 1.2em;
    margin: 5px 5px 0px;
}

.annotationGroup, .annotationGroupGroup, .annotationSubgroup {
    margin: 5px;
    float: left;
    border-radius: 5px;
}

.annotationSubgroup {
    margin: 0 10px;
}

.tagInstruction {
    font-weight: normal;
}


/*Tags*/

.tagColumn {
    display: inline-block;
    vertical-align: top;
    min-width: 112px;
}

.tag {
    background: #FFFFFF;
    display: table;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-size:0.91em;
    box-shadow: 3px 3px 3px #222222;
    font-weight: bold;
}

.tag:hover {
    border-width: 2px;
    padding: 4px;
    box-shadow: 6px 6px 6px #222222;
}

input[type="checkbox"]:checked + .tag, input[type="radio"]:checked + .tag {
    background: #e56969;
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: radial-gradient(ellipse at center, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    border-width: 3px;
    padding: 3px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

.tagText {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /*Stop selection of text in button*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tagToolTip img {
    /*max-width: 100%;*/
    /*height: auto;*/
    /*width: 100%;*/
    margin: 0 0 5px 0;
}

.annotationControls {
    position: absolute;
    bottom: 5px;
    width:90%;
    margin: 0 5%;
}

.annotationControls input {
    background-color: #284D68;
    color: #FFFFFF;
    border-radius: 20px;
}

.annotationControls input:first-of-type, #firstPageButton, #previousPageButton {
    float:left;
}

.annotationControls input:last-of-type, #lastPageButton, #nextPageButton {
    float:right;
}

#progressTrackerCenteringWrapper {
    position: absolute;
    bottom: 5px;
    left: 50%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Width needs to be altered to be dynamic!*/
#progressTrackerItemWrapper {
    width: 160px;
    margin: 8px 0 8px -50%;
    height: 30px;
}

.progressTrackerItem {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height:10px;
    margin: 0 6px;
    border: 2px solid black;
    border-radius: 14px;
    background: #284D68;
    text-align: center;
}

.progressTrackerItem p {
    display: none;
    line-height: 26px;
    font-weight: bold;
}

.currentProgressTrackerItem {
    width: 26px;
    height:26px;
    margin: 0 5px;
    background: #e56969;
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #ffa3a3 70%, #e56969 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(70%,#ffa3a3), color-stop(100%,#e56969));
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: -ms-radial-gradient(center, ellipse cover, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
    background: radial-gradient(ellipse at center, #eeeeee 0%,#ffa3a3 70%,#e56969 100%);
}