/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*All admin pages*/

#adminPageWrapper {
    min-width: 1233px;
    max-width: 1920px;
}

#adminNavigationBar {
    background-color: #666666;
    float: left;
    width: 195px;
    overflow: hidden;
    border-right: 1px solid #FFFFFF;
}

#adminNavigationBar li {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    display: inline-block;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    /*padding: 0 15px 0 17px;*/
    width: 100%;
}

.adminNavHeader {
    background-color: #e56969;
    border-top: 3px solid #ffffff;
}

#adminContentWrapper {
    font-family: Arial,Helvetica,Vardana,sans-serif;
    background-color: #D3E2F0;
    font-size: 18px;
    padding: 1px 35px 10px 20px;
    overflow: hidden;
    text-align: center;
}

h3 {
    font-size: 1.1em;
    margin: 10px;
}

h4 {
    font-size: 1em;
    margin: 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Admin Event Viewer Page */

#eventSummaryWrapper table,
#eventSummaryWrapper p,
.eventDetailRow {
    font-size: 14px;
    line-height: 1.2em;
}

#eventLogFilterWrapper {
    overflow: hidden;
    display: none;
}

.eventLogFilterColumn {
    width: 31%;
    margin: 0 1% 0 1%;
    float:left;
    text-align: left;
}

.individualFilterWrapper,
#applyFilterWrapper {
    clear: both;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.individualFilterWrapper p {
    margin: 0 0 0 32px !important;
}

.individualFilterWrapper p:first-of-type {
    margin: 0 0 0 8px !important;
}

#applyFilterWrapper {
    padding-bottom: 2px;
    margin: 0 1%;
}

#applyFilterWrapper p {
    margin: 0;
}

.individualFilterControlWrapper {
    display: none;
    text-align: center;
}

.filterSelectBox {
    /*width: 215px;*/
}

/* Event Log Table*/
#eventLogWrapper {
    clear: both;
}

#eventSummaryWrapper {
    float: left;
    width: 58%;
    padding-right: 2%;
    overflow: hidden;
}

#eventSummaryWrapper table {
    table-layout: fixed;
    width: 100%;
}

#eventSummaryWrapper th {
    padding-right: 20px;
}

.headContent {
    width: 100%;
    position: relative;
}

#eventSummaryWrapper td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.closedEvent {
    color: #666666;
}

.eventIdColumn {
    width: 25px;
}

.sortArrow {
    position: absolute;
    right: -18px;
    top: 6px;
}

#eventDetailsWrapper {
    float: left;
    width: 38%;
    padding-left: 2%;
}

#eventDetailsContent {
    display: none;
    padding: 5px 5px 0 5px;
}

#eventDetailsText {
    margin: 10px;
}

.eventDetailRow {
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}

.eventRowName {
    font-weight: bold;
    text-align: right;
    float: left;
    width: 125px;
}

.eventRowValue {
    margin-left: 135px;
    text-align: left;
}

.eventRowName p,
.eventRowValue p {
    margin: 0 !important;
}

#eventLogErrorWrapper {
    display: none;
}













#chosenProjectNotificationWrapper p,
#chosenProjectNotificationWrapper form {
    display: inline-block;
}

hr {
    width: 70%;
}

#projectSelectForm label {
    font-weight: bold;
    width: 43%
}

#projectSelectForm select {
    width: 250px;
}

#editActionForm label {
    width: 135px;
    height: 50px;
    padding: 10px;
    line-height: 50px;
}

#editActionForm input {
    width: 135px;
}

#editProjectDetailsForm label,
#editTaskDetailsForm label,
#editGroupDetailsForm label,
#editTagDetailsForm label {
    width: 40%;
}
#editProjectDetailsForm .formFieldRow input,
#editTaskDetailsForm .formFieldRow input,
#editGroupDetailsForm .formFieldRow input,
#editTagDetailsForm .formFieldRow input {
    width: 400px;
}

#editProjectDetailsForm textarea,
#editTaskDetailsForm textarea,
#editGroupDetailsForm textarea,
#editTagDetailsForm textarea {
    width: 400px;
    height: 150px;
}

#editProjectDetailsForm input[type="radio"]+label,
#editTaskDetailsForm input[type="radio"]+label,
#editGroupDetailsForm input[type="radio"]+label,
#editGroupDetailsForm .color,
#editTagDetailsForm input[type="radio"]+label {
    width: 100px !important;
}

#editProjectDetailsForm input[type="radio"]:checked+label,
#editTaskDetailsForm input[type="radio"]:checked+label,
#editTaskDetailsForm input[type="radio"]:checked+label {
    margin-top: 6px;
}

#editGroupDetailsForm .color,
#editGroupDetailsForm .color.disabledClickableButton:hover {
    margin-top: 8px;
}

#editGroupDetailsForm .color:hover {
    margin-top: 7px;
}

#actionSummary h3,
#actionControls h3 {
    font-size: 1.1em;
}

#actionControls input[type="textbox"],
#actionControls textarea,
#actionControls .color,
#photoSelectionForm input[type="textbox"] {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

#updateSummaryTable {
    width: 80%;
}

#updateSummaryTable td:first-of-type {
    width: 300px;
}

.threeColumnOrSplit {
    overflow: hidden;
}

.threeColumnOrSplit>div {
    float: left;
    width: 10%;
}

.threeColumnOrSplit>div:first-of-type,
.threeColumnOrSplit>div:last-of-type {
    width: 45%;
}

#taskSelectBox,
#createNewTaskButton {
    width: 275px;
}

.twoColumnSplit>div {
    float: left;
    width: 50%;
}

#propertyOrderTable,
#propertyOrderTable td {
    border: 1px black solid;
    text-align: center;
}

#propertyOrderTable thead {
    background-color: #EEEEEE;
    font-weight: bold;
}

.borderedTable thead,
.adminStatisticsTable thead {
    border-bottom: 2px solid black;
}

.adminStatisticsTable td:first-of-type,
.adminStatisticsTable th:first-of-type {
    text-align: right;
}

.adminStatisticsTable {
    font-weight:bold !important;
}

.twoColumnDividedTable th:first-of-type,
.twoColumnDividedTable td:first-of-type {
    border-right: 2px solid black;
}

.cellDividedTable td,
.cellDividedTable th {
    border: 1px solid black;
}

#currentProperty,
.displayedTag {
    background-color: green;
}

.disabledProperty {
    background-color: red;
}

.unusedTableCell {
    background-color: lightgrey;
}

.updateFormSubmissionControls {
    margin-top: 15px;
}

.topTaskTableRowBorder {
    border-top: 1px solid black;
}

.borderedTable {
    border-collapse: collapse;
    border: 2px solid black;
}

.borderedTable thead {
    font-weight: bold;
}

.dividedColumns td {
    border-right: 1px solid black;
}

.topBorder {
    border-top: 1px solid black;
}

.updateFormSubmissionControls,
.twoColumnSplit+div,
.threeColumnOrSplit+div {
    clear: both;
}

#groupSelectBox {
    width: 297px;
}

#analyticsUserSelection {
    width: 265px;
}

#timeGraphControls .formFieldRow label {
    width: 65%
}

#timeGraphControls .formFieldRow input {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

#timeGraphControls .formFieldRow input,
#timeGraphControls .formFieldRow select {
    width: 100px;
}

#allMatchesMap .adminMapLegend {
    width: 250px !important;
}

#allMatchesMap .adminMapLegendRowText {
    width: 215px;
}



#photoStatsImageWrapper {
    position: relative;
    width: 800px;
    margin: 0 auto 20px auto;
}

#photoStatsMapDetailsWrapper {
    width: 950px;
    margin: auto;
    overflow: hidden;
}

#photoStatsMapWrapper {
    height: 300px;
    width: 300px;
    float: left;
    border-radius: 5px;
}

#photoStatsDetailsWrapper {
    /*width: 640px;*/
    /*float: left;*/
    /*padding-left: 10px;*/
}

#photoStatsDetailsWrapper td {
    line-height: 1.2em;
}

.adminMap h2 {
    margin: 10px;
    text-align: center;
}

#userAndCommentTable {
    max-width: 80%;
}

.photoMatchMapComparisonWrapper {
    width: 344px;
    overflow:hidden;
    text-align: center;
}

.photoMatchMapComparisonPostPhotoWrapper,
.photoMatchMapComparisonPrePhotoWrapper {
    width: 167px;
    float:left;
}

.photoMatchMapComparisonPrePhotoWrapper {
    margin-left: 10px;
}

.allMatchesMapControlButton {
    width: 560px;
}

#emailListWrapper {
    display: none;
    margin: auto;
    width: 80%;
}

#emailListWrapper .emailList {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    font-size: 10px;
}

#photoEditorMap .leaflet-popup-content p {
    text-align: left;
    margin: 5px 0;
}

#adminPhotoThumbnailGrid {
    width: 1000px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.adminPhotoThumbnailRow {
    overflow: hidden;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.adminPhotoThumbnailRow:last-of-type {
    border-bottom: none;
}

.adminPhotoThumbnailCell {
    width: 200px;
    float: left;

}

.adminPhotoThumbnailWrapper img {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
}

.adminPhotoThumbnailMetadata {
    display: block;
    margin: 0 5px 0 70px;
    text-indent: -70px;
    text-align: left;
    font-weight: normal;
    font-size: .8em;
}

.adminPhotoThumbnailMetadata:first-of-type {
    margin-top: 10px;
}

.adminPhotoThumbnailMetadata:last-of-type {
    margin-bottom: 10px;
}

.adminPhotoThumbnailMetadata span:first-of-type {
    display: inline-block;
    float: left;
    width: 70px;
    font-weight: bold;
}

.thumbnailControlWrapper {
    text-align: right;
}

.thumbnailControlWrapper input {
    height: 24px;
}

.thumbnailControlWrapper div {
    clear: both;
    overflow: hidden;
}

.pageJumpSelect {
    float:right;
    width: 180px;
}

.photosPerPageSelect {
    float:left;
}

.thumbnailControlWrapper p {
    display: inline-block;
    margin-top: 17px !important;
    font-weight: bold;
}