#usgsColorBand {
    position: relative;
    width: 950px;
    margin:auto;
}

#usgsIdentifier {
    width: 350px;
}

#usgsIdentifier p {
    left: 190px;
}
#appTitle {
    font-size: 48px;
    top: 7px;
}

#appSubtitle {
    top: 52px;
}

#headerImageWrapper {
    width: 600px;
    overflow: hidden;
}