#aboutWrapper {
    overflow: hidden;
    text-align: left;
}

#aboutWrapper a {
    color: #444444;
    text-decoration: none;
}

#aboutWrapper a:hover {
    color: #888888;
}

.teamColumn {
    width: 50%;
    float: left;
}

.teamColumn>div {
    overflow: hidden;
}

.teamColumn img {
    float: left;
    border-radius: 5px;
    margin: 10px;
}